<div class="tab-content">
  <!-- Message si aucune donnée -->
  <div *ngIf="lignes.length === 0" class="empty-msg">
    Aucune réservation client pour cet article.
  </div>

  <!-- Tableau HTML Classique -->
  <table *ngIf="lignes.length > 0" class="simple-table">
    <thead>
    <tr>
      <th>N° Commande</th>
      <th class="text-right">Quantité</th>
      <th>Date de Besoin</th>
      <th>Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of lignes">
      <td>{{ m.ridn }}</td>
      <td class="text-right">{{ m.trqt }}</td>
      <td>{{ m.pldt | date:'dd/MM/yyyy' }}</td>
      <td>{{ m.stat }}</td>
    </tr>
    </tbody>
  </table>
</div>
