<div class="tab-content">

  <div *ngIf="lignes.length === 0" class="empty-msg">
    Aucune commande client pour cet article.
  </div>

  <div
    *ngIf="lignes.length > 0"
    soho-datagrid
    [dataset]="lignes"
    [columns]="colonnes"
    [selectable]="false"
    [filterable]="true"
    [rowHeight]="'short'"
    [paging]="true"
    [pagesize]="10"
    [pagesizes]="[5, 10, 25, 50, 100]"
    [enableTooltips]="true"
    [initialSort]="sortDate"
    style="width: 100%">
  </div>

  <div *ngIf="lignes.length > 0" class="totaux-bar">
    <span>Total réservé : <strong>{{ fmt(totalQty) }} <em>{{ unms }}</em></strong></span>
  </div>
</div>
