.tab-content { padding: 15px; }

.simple-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.simple-table th {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  font-size: 1.75rem;
}

.simple-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.75rem;
  text-align: center;

}

.text-right { text-align: center!important }

.empty-msg {
  padding: 20px;
  text-align: center;
  color: #666;
}
