<p *ngIf="lignes.length === 0" class="empty-msg">Aucun ordre de fabrication pour cet article.</p>

<table *ngIf="lignes.length > 0" class="ids-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Numéro</th>
      <th>Statut</th>
      <th>Quantité</th>
      <th>Date planifiée</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of lignes">
      <td><span class="tag" [class.tag-pof]="m.orca === '100'" [class.tag-of]="m.orca === '101'">{{ m.orca === '100' ? 'POF' : 'OF' }}</span></td>
      <td>{{ m.ridn }}</td>
      <td>{{ m.stat }}</td>
      <td class="num">{{ m.trqt }}</td>
      <td>{{ m.pldt }}</td>
    </tr>
  </tbody>
</table>
